@font-face {
    font-family: 'minecraft';
    src: url('assets/fonts/minecraft.ttf') format('truetype');
}

body {
    font-family: 'minecraft', monospace;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
}

header {
    background-color: #111;
    padding: 20px;
}

header h1 {
    font-family: 'minecraft', monospace;
    margin: 0;
    font-size: 2.5em;
}

p {
    font-size: 18px; /* Укажите желаемый размер шрифта */
    line-height: 1.5; /* Опционально: настройте межстрочный интервал */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.background-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.image-container {
    display: flex;
    align-items: flex-start; /* Выравнивание по верхнему краю */
    justify-content: space-between; /* Пространство между элементами */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.image-container img {
    max-width: 90%; /* Установите ширину изображения */
    height: auto; /* Сохраняйте пропорции изображения */
}

.left-text {
    width: 25%; /* Ширина текста */
    font-size: 16px; /* Размер шрифта */
    color: #fff; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    margin-top: 600px; /* Отступ сверху для левого текста */
}

.right-text {
    width: 25%; /* Ширина текста */
    font-size: 16px; /* Размер шрифта */
    color: #fff; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    margin-top: 10px;
}

footer {
    background-color: #111;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 40px; 
}
/* Стили для контейнера ссылок */
.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* Стили для контейнера ссылок */
.social-links {
    position: absolute; /* Позволяет задать точное положение */
    top: 20px; /* Отступ от верхнего края */
    left: 20px; /* Отступ от левого края */
    display: flex; /* Расположение иконок в строку */
    gap: 10px; /* Расстояние между иконками */
}

.social-links a {
    display: flex;
    justify-content: left; /* Центрирование по горизонтали */
    gap: 20px; /* Расстояние между иконками */
    margin-bottom: 10px; /* Отступ снизу */
}

.social-links .icon {
    width: 40px; /* Размер иконок */
    height: 40px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-links .icon:hover {
    transform: scale(1.2); /* Увеличение при наведении */
    filter: brightness(1.5); /* Осветление при наведении */
}

@media (max-width: 768px) {
    .social-links .icon {
        width: 30px;
        height: 30px;
    }
}